In [1]:
import numpy as np
import pandas as pd
import requests
import tweepy

# Gather

#### Three data sources will be used for this project which will be defined below.
1. [x] WeRateDogs Twitter archive that is provided as a downloadable csv at the given URL and should be downloaded manually
2. [x] The tweet image predictions should be downloaded programatically from Udacity using Requests library.
3. [x] Each tweets retweet count, like count, and anything else I think is interesting should be downloaded using tweepy twitter api and stored in tweet_json.txt as json.

In [2]:
# # Download and save tweet image predicitons as image_predictions.tsv

# r = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')
# with open('image_predictions.tsv', 'w') as f:
#     f.write(r.text)

In [3]:
# Download and save tweepy data without using API

# r = requests.get('https://s3.amazonaws.com/video.udacity-data.com/topher/2018/November/5be5fb7d_tweet-json/tweet-json.txt')
# with open('tweet-json.txt', 'w') as f:
#     f.write(r.text)

In [4]:
ls

analysis_data_set.csv         tweet_json_clean.csv
gac_notes.rtf                 twitter-archive-enhanced.csv
image_prediction_clean.csv    twitter_archive_clean.csv
image_predictions.tsv         we_rate_dogs_analysis.ipynb
tweet-json.txt                wrangle_act.ipynb

In [5]:
twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')
image_predictions = pd.read_csv('image_predictions.tsv', sep='\t')

In [6]:
with open('tweet-json.txt', 'r') as f:
    tweets = "[" + ','.join(f.readlines()) + "]"

tweet_json = pd.read_json(tweets)

# Assess

## Twitter Archive Assessment

In [7]:
twitter_archive.sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1202,716439118184652801,NaN,NaN,2016-04-03 01:36:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bluebert. He just saw that both #Final...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/716439118...,50,50,Bluebert,None,None,None,None
797,773191612633579521,NaN,NaN,2016-09-06 16:10:20 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Grey. He's the dogtor in charge of you...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/773191612...,12,10,Grey,None,None,None,None
1868,675166823650848770,NaN,NaN,2015-12-11 04:14:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Arnold. He broke his leg saving a hand...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675166823...,10,10,Arnold,None,None,None,None
472,816450570814898180,NaN,NaN,2017-01-04 01:05:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Moose. He doesn't want his friend to go b...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/816450570...,13,10,Moose,None,None,None,None
1181,719332531645071360,NaN,NaN,2016-04-11 01:13:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Pippa. She managed to start the car bu...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/719332531...,11,10,Pippa,None,None,None,None

In [8]:
twitter_archive.rating_numerator.value_counts().head()

12    558
11    464
10    461
13    351
9     158
Name: rating_numerator, dtype: int64

In [9]:
# Source should be extracted from html

twitter_archive.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [10]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

## Image Predictions Assessment

In [11]:
image_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [12]:
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

## Tweet JSON Assessment

In [13]:
tweet_json.head()

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,full_text,geo,...,possibly_sensitive_appealable,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,truncated,user
0,NaN,NaN,2017-08-01 16:23:56,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...",39467,False,This is Phineas. He's a mystical boy. Only eve...,NaN,...,0.0,NaN,NaN,NaN,8853,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1,NaN,NaN,2017-08-01 00:17:27,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...",33819,False,This is Tilly. She's just checking pup on you....,NaN,...,0.0,NaN,NaN,NaN,6514,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2,NaN,NaN,2017-07-31 00:18:03,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...",25461,False,This is Archie. He is a rare Norwegian Pouncin...,NaN,...,0.0,NaN,NaN,NaN,4328,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
3,NaN,NaN,2017-07-30 15:58:51,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...",42908,False,This is Darla. She commenced a snooze mid meal...,NaN,...,0.0,NaN,NaN,NaN,8964,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
4,NaN,NaN,2017-07-29 16:00:24,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...",41048,False,This is Franklin. He would like you to stop ca...,NaN,...,0.0,NaN,NaN,NaN,9774,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

In [14]:
tweet_json.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2219
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [15]:
tweet_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 31 columns):
contributors                     0 non-null float64
coordinates                      0 non-null float64
created_at                       2354 non-null datetime64[ns]
display_text_range               2354 non-null object
entities                         2354 non-null object
extended_entities                2073 non-null object
favorite_count                   2354 non-null int64
favorited                        2354 non-null bool
full_text                        2354 non-null object
geo                              0 non-null float64
id                               2354 non-null int64
id_str                           2354 non-null int64
in_reply_to_screen_name          78 non-null object
in_reply_to_status_id            78 non-null float64
in_reply_to_status_id_str        78 non-null float64
in_reply_to_user_id              78 non-null float64
in_reply_to_user_id_str          78 non-null float64
is_quote_status                  2354 non-null bool
lang                             2354 non-null object
place                            1 non-null object
possibly_sensitive               2211 non-null float64
possibly_sensitive_appealable    2211 non-null float64
quoted_status                    28 non-null object
quoted_status_id                 29 non-null float64
quoted_status_id_str             29 non-null float64
retweet_count                    2354 non-null int64
retweeted                        2354 non-null bool
retweeted_status                 179 non-null object
source                           2354 non-null object
truncated                        2354 non-null bool
user                             2354 non-null object
dtypes: bool(4), datetime64[ns](1), float64(11), int64(4), object(11)
memory usage: 505.8+ KB

## Twitter Archive
#### Tidiness
- [x] Seperate replies and retweets into their own tables
- [x] Values doggo, floofer pupper, and puppo should be a single variable  - dogtionary

#### Clean
- [x] Dogtionary should be category
- [x] Time stamp to date time
- [x] All IDs - string / object
- [x] Extract source from html
- [x] Numerator and denominator wrong data type and extracting incorrect fractions
- [x] Numerator and denominator converted to a ratio as a means to normalize the data.
- [x] Name should should fix a, and the names
- [x] Name should have none converted to np.nan
- [x] Dogtionary extracting more than one value

## Image Prediction
#### Tidiness
- [x] There are three observations - p1, p2, p3 should be restructured into pass [1, 2, 3] then prediction and select the highest confidence label (group by on ID where conf max)

#### Clean
- [x] IDs should be objects
- [x] Select highest confidence pass and drop confidence, and classification_pass columns

## Tweet JSON
#### Tidiness
- [x] Select only necessary columns (those different from 

#### Clean
- [x] IDs should be objects
- [x] display_text_range - should be single character count - character_count

# Clean

In [16]:
twitter_archive_clean = twitter_archive.copy()
image_predictions_clean = image_predictions.copy()
tweet_json_clean = tweet_json.copy()

### Twitter Archive Tidiness

#### `Twitter Archive`: Extract Replies and Retweets Tables

***Define:*** Will create two seperate tables with foreign keys linking to WeRateDogs

In [17]:
# Replies archive

reply_cols= ['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 
             'timestamp', 'source', 'text', 'rating_numerator',
             'rating_denominator']

replies_twitter_archive = twitter_archive_clean.query('in_reply_to_status_id == in_reply_to_status_id')[reply_cols].reset_index(drop=True)

In [18]:
# Tweet archive

retweet_cols = ['tweet_id', 'source', 'retweeted_status_id', 
                'retweeted_status_user_id', 'retweeted_status_timestamp']

retweet_twitter_archive = twitter_archive_clean.query('retweeted_status_id == retweeted_status_id')[retweet_cols].reset_index(drop=True)

In [19]:
# Twitter archive

archive_cols = ['tweet_id', 'timestamp', 'source', 'text', 
                'expanded_urls', 'rating_numerator','rating_denominator', 
                'name', 'doggo', 'floofer', 'pupper', 'puppo']

twitter_archive_clean = twitter_archive_clean.query('retweeted_status_id != retweeted_status_id & in_reply_to_status_id != in_reply_to_status_id')[archive_cols]

#### `Twitter Archive`: Convert dogtionary values into a single column - dogtionary

***Define:*** use apply method to execute a lambda function across doggo, floofer, pupper, and puppo columns to concatenate them into a single dogtionary variable.

In [20]:
# Convert values doggo, floofer, pupper, and puppo into single categorical variable - dogtionary. 

dogtionary_cols = ['doggo', 'floofer', 'pupper', 'puppo']

dogtionary = twitter_archive_clean[dogtionary_cols].replace('None', '')
twitter_archive_clean['dogtionary'] = dogtionary.apply(lambda x: ''.join(x), axis=1).replace('^$', np.nan, regex=True)

twitter_archive_clean.drop(dogtionary_cols, axis=1, inplace=True)

In [21]:
# Test dogtionary column

twitter_archive_clean.dogtionary.value_counts()

pupper          221
doggo            72
puppo            23
doggopupper       9
floofer           9
doggofloofer      1
doggopuppo        1
Name: dogtionary, dtype: int64

In [22]:
# Looking at the data that has multiple, most reference two dogs - I will correct by removing these rows.

multiple = ['doggopupper', 'doggopuppo', 'doggofloofer']
    
twitter_archive_clean = twitter_archive_clean.query('dogtionary not in @multiple')

### Twitter Archive Cleanliness

#### `Twitter Archive`: Fixing data types 

***Define:*** timestamp to datetime object, IDs to objects, dogtionary to category

In [23]:
twitter_archive_clean['timestamp'] = pd.to_datetime(twitter_archive_clean.timestamp)
retweet_twitter_archive['retweeted_status_timestamp'] = pd.to_datetime(retweet_twitter_archive.retweeted_status_timestamp)

In [24]:
twitter_archive_clean['tweet_id'] = twitter_archive_clean.tweet_id.astype('object')
replies_twitter_archive['in_reply_to_status_id'] = replies_twitter_archive.in_reply_to_status_id.astype('object')
replies_twitter_archive['in_reply_to_user_id'] = replies_twitter_archive.in_reply_to_user_id.astype('object')
retweet_twitter_archive['retweeted_status_id'] = retweet_twitter_archive.retweeted_status_id.astype('object')
retweet_twitter_archive['retweeted_status_user_id'] = retweet_twitter_archive.retweeted_status_user_id.astype('object')

In [25]:
twitter_archive_clean['dogtionary'] = twitter_archive_clean.dogtionary.astype('category')

In [26]:
# Check types have been assigned correctly

twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2086 entries, 0 to 2355
Data columns (total 9 columns):
tweet_id              2086 non-null object
timestamp             2086 non-null datetime64[ns, UTC]
source                2086 non-null object
text                  2086 non-null object
expanded_urls         2083 non-null object
rating_numerator      2086 non-null int64
rating_denominator    2086 non-null int64
name                  2086 non-null object
dogtionary            325 non-null category
dtypes: category(1), datetime64[ns, UTC](1), int64(2), object(5)
memory usage: 148.9+ KB

#### `Twitter Archive`: Source stored as HTML

***Define:*** Because there are only four values in this data set - I will manually create a dictionary to map the values, and then use the replace method to replace them.

In [27]:
twitter_archive_clean.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     1954
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          90
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       31
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [28]:
# replace source contents by using below dictionary

sources = {
    '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>': 'Twitter iPhone',
    '<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>': 'Vine',
    '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>': 'Twitter Web',
    '<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>': 'TweetDeck'
          }
for df in [twitter_archive_clean, replies_twitter_archive, retweet_twitter_archive]:
    df['source'] = df.source.replace(sources)

In [29]:
# test by comparing value count to previous value counts

twitter_archive_clean.source.value_counts()

Twitter iPhone    1954
Vine                90
Twitter Web         31
TweetDeck           11
Name: source, dtype: int64

#### `Twitter Archive`: Resolve numerator and denominator columns

***Define:*** Fix the regex so that the denominator ends in 0.

In [30]:
# denominator values

twitter_archive_clean.rating_denominator.value_counts()

10     2069
50        3
11        2
80        2
7         1
170       1
150       1
120       1
110       1
90        1
70        1
40        1
20        1
2         1
Name: rating_denominator, dtype: int64

In [31]:
# verify that 11 is incorrect fraction extracted

twitter_archive_clean.query('rating_denominator == 11').text.to_list()

['After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ',
 'This is Darrel. He just robbed a 7/11 and is in a high speed police chase. Was just spotted by the helicopter 10/10 https://t.co/7EsP8LmSp5']

In [32]:
twitter_archive_clean['test'] = twitter_archive_clean.text.str.extract('(\d+(?:\.\d+)?/\d+(?:\.\d+)?0)', expand=True)[0]

In [33]:
twitter_archive_clean.dropna(subset=['test'], inplace=True)

In [34]:
# test

twitter_archive_clean.query('rating_denominator == 11')

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dogtionary,test
1068,740373189193256964,2016-06-08 02:41:38+00:00,Twitter iPhone,"After so many requests, this is Bretagne. She ...",https://twitter.com/dog_rates/status/740373189...,9,11,None,NaN,14/10
1662,682962037429899265,2016-01-01 16:30:13+00:00,Twitter iPhone,This is Darrel. He just robbed a 7/11 and is i...,https://twitter.com/dog_rates/status/682962037...,7,11,Darrel,NaN,10/10

In [35]:
# assign new ratings to the numerator and denominator column 

twitter_archive_clean['rating_numerator'] = twitter_archive_clean.test.str.split('/').str[0].astype('float32')
twitter_archive_clean['rating_denominator'] = twitter_archive_clean.test.str.split('/').str[1].astype('int32')

In [36]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2085 entries, 0 to 2355
Data columns (total 10 columns):
tweet_id              2085 non-null object
timestamp             2085 non-null datetime64[ns, UTC]
source                2085 non-null object
text                  2085 non-null object
expanded_urls         2082 non-null object
rating_numerator      2085 non-null float32
rating_denominator    2085 non-null int32
name                  2085 non-null object
dogtionary            325 non-null category
test                  2085 non-null object
dtypes: category(1), datetime64[ns, UTC](1), float32(1), int32(1), object(6)
memory usage: 148.8+ KB

In [37]:
# ensure that the assigned rating columns match the test column

twitter_archive_clean.sample(5)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dogtionary,test
1953,673662677122719744,2015-12-07 00:37:52+00:00,Twitter iPhone,This is Kendall. 12/10 would cuddle the hell o...,https://twitter.com/dog_rates/status/673662677...,12.0,10,Kendall,NaN,12/10
67,879376492567855104,2017-06-26 16:31:08+00:00,Twitter iPhone,This is Jack AKA Stephen Furry. You're not sco...,https://twitter.com/dog_rates/status/879376492...,12.0,10,Jack,NaN,12/10
1881,675003128568291329,2015-12-10 17:24:21+00:00,Twitter iPhone,Meet Laela. She's adorable. Magnificent eyes. ...,https://twitter.com/dog_rates/status/675003128...,12.0,10,Laela,NaN,12/10
1985,672898206762672129,2015-12-04 22:00:08+00:00,Twitter iPhone,This is Cheryl AKA Queen Pupper of the Skies. ...,https://twitter.com/dog_rates/status/672898206...,11.0,10,Cheryl,pupper,11/10
1576,687460506001633280,2016-01-14 02:25:31+00:00,Twitter iPhone,This is Kramer. He's a Picasso Tortellini. Tie...,https://twitter.com/dog_rates/status/687460506...,10.0,10,Kramer,NaN,10/10

In [38]:
# drop test column

twitter_archive_clean.drop('test', axis=1, inplace=True)

#### `Twitter Archive`: Create ratio rating column

***Define:*** will assign a column to ratio by dividing numerator by denominator

In [39]:
twitter_archive_clean['rating_ratio'] = twitter_archive_clean.rating_numerator / twitter_archive_clean.rating_denominator

In [40]:
# test random sample to ensure calculator is correct

twitter_archive_clean.sample(5)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dogtionary,rating_ratio
38,884925521741709313,2017-07-12 00:01:00+00:00,Twitter iPhone,This is Earl. He found a hat. Nervous about wh...,https://twitter.com/dog_rates/status/884925521...,12.0,10,Earl,NaN,1.2
296,837366284874571778,2017-03-02 18:17:34+00:00,Twitter iPhone,This is Lucy. She has a portrait of herself on...,https://twitter.com/dog_rates/status/837366284...,13.0,10,Lucy,NaN,1.3
197,854482394044301312,2017-04-18 23:50:52+00:00,Twitter iPhone,This is Arya. She can barely contain her excit...,https://twitter.com/dog_rates/status/854482394...,13.0,10,Arya,NaN,1.3
360,829861396166877184,2017-02-10 01:15:49+00:00,Twitter iPhone,This is Mia. She already knows she's a good do...,https://twitter.com/dog_rates/status/829861396...,12.0,10,Mia,NaN,1.2
432,820749716845686786,2017-01-15 21:49:15+00:00,Twitter iPhone,Meet Sunny. He can take down a polar bear in o...,https://twitter.com/dog_rates/status/820749716...,13.0,10,Sunny,NaN,1.3

#### `Twitter Archive`: Improve extracting names from tweets and set None to np.nan

***Define:*** Using regex I will extract additional names from the text - named, name is, this is

In [41]:
twitter_archive_clean.reset_index(inplace=True, drop=True)

In [42]:
# View most common names

twitter_archive_clean.name.value_counts()[:5]

None       597
a           55
Lucy        11
Charlie     11
Oliver      10
Name: name, dtype: int64

In [43]:
# regex to parse additional names from the text

fixed_names = twitter_archive_clean.query('name in ["a", "None", "the", "an"]').text.str\
.extract('named ([A-Z]{1}[a-z]+)|name is ([A-Z]{1}[a-z]+)|this is ([A-Z]{1}[a-z]+)', 
         expand=True)
fixed_names['summed'] = fixed_names.fillna('').sum(axis=1).replace('', np.nan)

fixed_names.drop([0,1,2], axis=1, inplace=True)

In [44]:
# clean known non names so that I can add the recently extracted to the names col

twitter_archive_clean.name.replace(["a", "None", "the", "an"], np.nan, inplace=True)
twitter_archive_clean = twitter_archive_clean.join(fixed_names)

In [45]:
# Make sure all other non name words are removed

col = twitter_archive_clean[['name', 'summed']].fillna('').sum(axis=1)

lower_func = lambda x: '' if x.islower() else x
twitter_archive_clean['name'] = col.apply(lower_func).replace('', np.nan)

twitter_archive_clean.drop(['summed'], axis=1, inplace=True)

In [46]:
# Set name column to capitalize the first letter.

twitter_archive_clean['name'] = twitter_archive_clean.name.str.capitalize()

In [47]:
# test data with random sample

twitter_archive_clean.name.sample(5)

452     Shadow
1548       NaN
1248       NaN
197     Mimosa
1003      Opie
Name: name, dtype: object

In [48]:
# save final dataset to csv

twitter_archive_clean.to_csv('twitter_archive_clean.csv', index=False)

### Image Predictions Tidiness

#### `Image Prediction`: convert the pass values into a single variable

***Define:*** Using the melt method, I will reshape the data frame to [pass, confidence, breed, dog]

In [49]:
# Get the image prediction pass and breed

image_prediction_melt = pd.melt(image_predictions_clean, id_vars=['tweet_id', 'jpg_url', 'img_num'],
                                  var_name='classification_pass',
                                  value_vars=['p1', 'p2', 'p3'],
                                  value_name='breed')

image_prediction_melt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6225 entries, 0 to 6224
Data columns (total 5 columns):
tweet_id               6225 non-null int64
jpg_url                6225 non-null object
img_num                6225 non-null int64
classification_pass    6225 non-null object
breed                  6225 non-null object
dtypes: int64(2), object(3)
memory usage: 243.2+ KB

In [50]:
# Get the confidence and dog breed columns

confidence = pd.melt(image_predictions_clean, id_vars=['tweet_id', 'jpg_url', 'img_num'], 
               var_name='vars', 
               value_vars=['p1_conf', 'p2_conf', 'p3_conf'],
               value_name='confidence').confidence.values

dog = pd.melt(image_predictions_clean, id_vars=['tweet_id', 'jpg_url', 'img_num'], 
               var_name='vars', 
               value_vars=['p1_dog', 'p2_dog', 'p3_dog'],
               value_name='dog').dog.values

In [51]:
image_prediction_melt['confidence'] = confidence

image_prediction_melt['dog'] = dog

In [52]:
# testing sample
image_prediction_melt = image_prediction_melt[['tweet_id', 'jpg_url', 'img_num', 'classification_pass', 
                                               'confidence', 'breed', 'dog']]
image_prediction_melt.sample(10)

,tweet_id,jpg_url,img_num,classification_pass,confidence,breed,dog
829,693622659251335168,https://pbs.twimg.com/media/CaA-IR9VIAAqg5l.jpg,1,p1,0.449298,malamute,True
3633,793241302385262592,https://pbs.twimg.com/media/CwIougTWcAAMLyq.jpg,1,p2,0.390222,Labrador_retriever,True
4431,671122204919246848,https://pbs.twimg.com/media/CVBOFTLWwAAzlNi.jpg,1,p3,0.065818,hen,False
5259,723912936180330496,https://pbs.twimg.com/media/Cgva-QqUUAA7Hv9.jpg,1,p3,0.002232,chow,True
4031,864873206498414592,https://pbs.twimg.com/media/DAClmHkXcAA1kSv.jpg,2,p2,0.114182,lakeside,False
4389,670435821946826752,https://pbs.twimg.com/media/CU3d0azWUAA38FD.jpg,1,p3,0.099174,Cardigan,True
585,678991772295516161,https://pbs.twimg.com/media/CWxDaXHWsAAWV8W.jpg,1,p1,0.330216,Eskimo_dog,True
1699,816829038950027264,https://pbs.twimg.com/media/CvoBPWRWgAA4het.jpg,1,p1,0.700466,dishwasher,False
4278,668274247790391296,https://pbs.twimg.com/media/CUYv4d2WUAAziXs.jpg,1,p3,0.150844,toy_poodle,True
4576,674082852460433408,https://pbs.twimg.com/media/CVrSxy7WsAAFD2F.jpg,1,p3,0.020683,ski_mask,False

In [53]:
# verify that it matches original data

image_predictions.query('tweet_id == "746056683365994496"')

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1232,746056683365994496,https://pbs.twimg.com/media/ClqGl7fXIAA8nDe.jpg,1,Shetland_sheepdog,0.43332,True,collie,0.335997,True,borzoi,0.177179,True

### Image Predictions Cleaning

#### `Image Prediction`: Set tweet_id type to object

***Define:*** will set ID type to object using astype() method

In [54]:
# set ID to object

image_prediction_melt['tweet_id'] = image_prediction_melt.tweet_id.astype('object')

#### `Image Prediction`: Select pass for each ID that has the highest confidence

***Define:*** I will filter by p1 as it appears that p1 has the highest confidence for all occurances.

In [55]:
image_prediction_melt = image_prediction_melt.query('classification_pass == "p1"')

In [56]:
image_prediction_melt.columns

Index(['tweet_id', 'jpg_url', 'img_num', 'classification_pass', 'confidence',
       'breed', 'dog'],
      dtype='object')

In [57]:
# set breed to lower case and select the final columns to save
cols = ['tweet_id', 'jpg_url', 'breed', 'dog']
image_prediction_melt['breed'] = image_prediction_melt.breed.str.lower()
image_prediction_clean = image_prediction_melt[cols]

In [58]:
# save final image prediction dataset to csv file

image_prediction_clean.to_csv('image_prediction_clean.csv', index=False)

### Tweet Json Tidiness

#### `Twitter JSON`: Select metric columns mising from archive

***Define:*** will use 'id', 'created_at', 'display_text_range', 'favorite_count', 'retweet_count'

In [59]:
# Select desired columns

cols = ['id', 'created_at', 'display_text_range', 'favorite_count', 'retweet_count']

tweet_json_clean = tweet_json_clean.query('lang == "en"')[cols]

#### `Twitter JSON`: Set ID type to object

***Define:*** will set ID type to object using astype() method

In [60]:
tweet_json_clean['id'] = tweet_json_clean.id.astype('object')

### Tweet Json Cleaning

#### `Twitter JSON`: Change display_text_range to tweet length

***Define:*** will use the range to determine the length

In [61]:
# using the second index from range as the length

tweet_json_clean['character_count'] = tweet_json_clean.display_text_range.str[1]
tweet_json_clean.drop('display_text_range', axis=1, inplace=True)

In [62]:
# Test by verifying random sample of 5 has correct char count

tweet_json_clean.query('favorite_count != 0').count()

id                 2160
created_at         2160
favorite_count     2160
retweet_count      2160
character_count    2160
dtype: int64

In [63]:
tweet_json_clean.query('favorite_count != 0').to_csv('tweet_json_clean.csv', index=False)

### Join data and save single table for my analysis

In [64]:
df = pd.merge(twitter_archive_clean, image_prediction_clean, on='tweet_id')

In [65]:
complete_df = pd.merge(df, tweet_json_clean, left_on='tweet_id', right_on='id')

In [66]:
cols = ['tweet_id', 'created_at', 'source', 'text', 'character_count', 'name', 
        'dog', 'breed', 'dogtionary', 'rating_ratio', 'favorite_count', 'retweet_count', 
        'expanded_urls', 'jpg_url']

In [67]:
complete_df[cols].to_csv('analysis_data_set.csv', index=False)